<h1>All Medicines</h1>
<% @medicine.each do |medicine| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
  <p><%= link_to medicine.name, medicine  %></p>
<% end %>
